<div class="modal fade" id="newMatchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Match Created!</h4>
      </div>
      <div class="modal-body">
        <div class="row modal-vs">
          <div class="col-md-5 text-right">
            <div class="modal-title"><%= @team1.name  %></div>
          </div>
          <div class="col-md-2 text-center">
           <div class="modal-title">VS</div>
          </div>
          <div class="col-md-5">
            <div class="modal-title"><%= @team2.name  %></div>
          </div>
        </div>
        <div class="row">
          <h4 class="col-md-12 modal-datetime text-center">
            <%= @match.datetime.strftime("%A, %B #{@match.datetime.day.ordinalize} @ %l:%M %p") %>
          </h4>
        </div>
        <div class="row">
          <h4 class="col-md-12 modal-location-title text-center">
            <%= @location.nickname %><br>
            <%= @location.address  %>
          </h4>
        </div>
        <div class="row">
          <div class="col-md-12 modal-location-img">
            <a href="https://www.google.com/maps/dir/Current+Location/<%= @location.address.gsub(' ','+')  %>/" target="_blank"><img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @location.address.gsub(' ','+')  %>&zoom=15&scale=2&size=600x300&maptype=terrain&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7C<%= @location.address.gsub(' ','+')  %>" alt="Google Map of <%= @location.address  %>" width="100%">(click map for details/directions)</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
      </div>
    </div>
  </div>
</div>