<!DOCTYPE html>
<html>
<head>
  <title>Localeagues</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container">
    <!-- Header -->
    <header class="header white-bg">
      <div class="sidebar-toggle-box">
        <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
      </div>
      <%= render 'leagues/nav' %>
      <%= render 'users/nav' %>
    </header>

    <!-- Sidebar Navigation -->
    <aside>
      <div id="sidebar"  class="nav-collapse ">
        <%= render 'layouts/menu'  %>
      </div>
    </aside>

    <section id="main-content">
      <section class="wrapper site-min-height">
        <!-- page start-->
        <%= yield %>
        <!-- page end-->
      </section>
    </section>

    <!-- Right Popout -->
    <div class="sb-slidebar sb-right sb-style-overlay">
    </div>

    <!-- Footer -->
    <footer class="site-footer">
    </footer>

  </section>
  <div id="gonWrap"><%= include_gon %></if>
</body>
</html>
